
<!-- Para a variável funcionar precisa ser public no construtor do
  login-form.component.ts -->
{{ auth.jwtPayload | json }}

<div class="container logon" >
  <div class="p-grid" >

    <form autocomplete=off #loginForm="ngForm">

      <h1>Login</h1>

      <div class="p-col-12 p-md-12 p-fluid">
        <!--label>E-mail</label-->
        <input pInputText name="usuario" type="email" minlength="3"
          required ngModel [email]="true" #usuario="ngModel"
          pTooltip="Insira um email válido no sistema. Exemplo: joao@gmail.com"
          tooltipPosition="right" placeholder="E-mail" >

        <app-message *ngIf="(loginForm.touched)"
          [control]="usuario" error="email" text="Insira um e-mail válido">
        </app-message>

         <app-message *ngIf="loginForm.touched"
         [control]="usuario"
          error="required" text="Insira um e-mail.">
        </app-message>


      </div>

      <div class="p-col-12 p-md-12 p-fluid">

        <!--label>Senha</label-->

        <input pInputText name="senha" type="password" required
          ngModel #senha #senhaControl="ngModel" placeholder="Senha">

        <app-message *ngIf="(loginForm.touched && senhaControl.touched)"
        [control]="senhaControl"
         error="required" text="Insira uma senha">
        </app-message>

      </div>

      <div class="p-col-12 p-fluid">

        <button pButton type="submit"
          [disabled]="loginForm.invalid" label="Login"
          (click)="login(usuario.value, senha.value); senha.value = '';">
        </button>

      </div>

    </form>

  </div>

</div>
