<div class="container">
  <form autocomplete="off">
    <div class="p-grid">

      <div class="p-col-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="p-col-12">
        <p-selectButton [options]="tipos" #tipo></p-selectButton>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>Vencimento</label>
        <!--input pInputText type="text"-->
        <p-calendar dateFormat="dd/mm/yy"
          [inline]="false" [readonlyInput]="false"
          [showIcon]="false"></p-calendar>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>{{tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
        <p-calendar dateFormat="dd/mm/yy"
        [inline]="false" [readonlyInput]="false"
        [showIcon]="false"></p-calendar>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Descrição {{descricao.errors |json}}</label>
        <input pInputText type="text" name="descricao"
          ngModel #descricao="ngModel" required minlength="5">

        <!-- Outra maneira de fazer a mensagem de erro
          <div *ngIf="descricao.hasError('required') && descricao.dirty"
            class="p-message p-messages-error">
            Informe uma descrição
          </div>

          <div *ngIf="descricao.hasError('minlength') && descricao.dirty"
            class="p-message p-messages-error">
            Mínimo de {{ descricao.errors?.minlength.requiredLength }} caracteres.
            Você digitou apenas {{ descricao.errors?.minlength.actualLength }} caracteres
          </div>
         -->

        <p-message *ngIf="descricao.hasError('required') && descricao.dirty"
          severity="error" text="Informe uma descrição">
        </p-message>

        <p-message *ngIf="descricao.hasError('minlength') && descricao.dirty"
          severity="error"
          text="Mínimo de {{ descricao.errors?.minlength.requiredLength }} caracteres.
           Você digitou apenas {{ descricao.errors?.minlength.actualLength }}">
        </p-message>


      </div>

      <div class="p-col-12 p-md-3 p-fluid">
        <label>valor</label>

        <p-inputNumber mode="currency" currency="BRL" placeholder="0,00"></p-inputNumber>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione"></p-dropdown>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" placeholder="Selecione" [filter]="true"></p-dropdown>
      </div>

      <div class="p-col-12 p-md-12 p-fluid">
        <label>Observação</label>
        <textarea input pInputTextarea rows="3"></textarea>
      </div>

      <div class="p-col-12 p-md-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="button" label="Novo" class="p-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>
</div>
